body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    /* Браузер по умолчанию для тега body выставляет margin: 8px, нужно обнулить */
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header_logo {
    height: 30px;
}

a {
    text-decoration: none;
    color: #213053;
}

header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
}

/* font-family, font-size — задают семейство шрифтов и размер;
color указывает цвет текста, белый (#fff);
background-color — указывает цвет фона кнопки, зеленый (#23a030);
border: none — нужен потому что браузер рисует у всех кнопок границу, нам она ни к чему;
border-radius: 15px — говорит о том, что нужны скругления и 15px — это радиус скругления: чем он больше, тем более скругленная кнопка будет;
cursor: pointer — делает так, чтобы при наведении на кнопку мышка была в виде указателя;
box-shadow — самый интересный, он рисует тень! */

button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* 0 — это отступ тени по горизонтали, 16px — отступ по вертикали, 
    36px — размытость тени, а rgb(52 213 68 / 22%) — это цвет тени. */
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    transition: background-color 0.3s ease-in;
}

.about_image {
    width: 500px;
}

.about_sun-image {
    width: 100px;
    height: 100px;
}

.about {
    padding-top: 115px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.about h1 {
    font-size: 70px;
    line-height: 76px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    /* прозрачность текста */
    opacity: 0.8;
}

.about button {
    font-size: 18px;
    /* закругление кнопки */
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about_info {
    max-width: 550px;
}

.form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    width: 550px;
}

.form h1 {
    font-size: 48px;
}

.form p {
    font-size: 18px;
    opacity: 0.65;
}

.form_group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form form {
    margin-top: 60px;
    display: grid;
    grid-gap: 20px;
}

.form label {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.form input,
.form select {
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    color: #213053;
    height: 60px;
    border-radius: 15px;
    border: none;
}

.form_submit {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
}

select {
    appearance: none;
    outline: none;
}

button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
}

footer {
    padding: 90px 20px 90px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer_container {
    display: flex;
    justify-content: center;
}

.footer_copyright {
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
}

.footer_group {
    margin-right: 80px;
}

.footer_group h3 {
    margin-bottom: 30px;
    font-size: 16px;
    opacity: 0.7;
}

.footer_links {
    display: flex;
    flex-direction: column;
}

.footer_links a {
    margin-bottom: 15px;
}